<form class="navigation-wrapper">
    <nav class="navigation">
        <div class="brand">
            <!-- <a href="{{ site.baseurl }}/" title="Home"> -->
                <i class="logo icon" aria-hidden="true">logo</i>
                <span class="name">{{ site.title }}</span>
            <!-- </a> -->
        </div>
        <label for="menu" class="icon">menu</label>
        <input id="menu" type="checkbox" />
        <ul class="links">
            <li class="link"><a href="{{ site.baseurl }}/">Home</a></li>
            <li class="link"><a href="{{ site.baseurl }}/pre-event">Pre-events</a></li>
            <li class="link"><a href="{{ site.baseurl }}/event">Event</a></li>
            <li class="link"><a href="{{ site.baseurl }}/register">Register</a></li>
            <li class="link"><a href="{{ site.baseurl }}/partners">Partners</a></li>
        </ul>
    </nav>
</form>
